DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_HOST='localhost'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://example.com'
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='}wU)v24bc9)DZovj)tmrY7sr%?K>ZsKJ?2gs|f&oM5Q@?G5WX(?4FA>zT5D^kz*a'
SECURE_AUTH_KEY='TV|H3w4:U(cnR,pGR/F)nO<#f#aLr%*MEEYyNYmGmd)l_p@`eM^Q%>%pz8$E9dED'
LOGGED_IN_KEY='md6QS{K-2N4&EnE1q?HwzGbon,}Zy8ePkc82M`k1g=NMz[U^ef&=)a?#f|VDk%6/'
NONCE_KEY='39=vZu9/7(qHlpL9OJ;N6Qq2J50>CU7%llxu$Q8IRxD;dod@`f*6?l=s%r)GQ8|1'
AUTH_SALT='GPx/[pJnPuIZaCxzMFFE8NKB*&qrKxYko07$L1j<:4NZk1sp0N&MI-Y}j9_t%Xod'
SECURE_AUTH_SALT='^9Zqt|`bz-0vBw<k`5PRC#bhLK7Q)aUX8tJ$}U0vGP2y4-BW>{I9%RoyvbO4Na}*'
LOGGED_IN_SALT='U,=C6&UUwo%N5mcKr]$xj%:2e>/K11$OBjmEmLe.N2=X,i#r/$(|[wH{q):Usd|W'
NONCE_SALT='FR;Z+y&@I+swiK]n7KeTgs^MfEB/wj13KbB&dldqlNMcsRiC2?8S|-;e-eOpeii}'
